{% extends "base.html"%}
{%block css %} <link rel="stylesheet" href="{{url_for('static',filename='Login.css')}}"> {%endblock%}
{%block title%}Login{%endblock%}
{%block content%}
<div id="login-container">
    <form action="" method="post">
        <h2>Login Page</h2>
        {% for field in form %}
            {% if field.widget.input_type != 'hidden' and field.type != 'SubmitField'%} 
                {{ field.label }} 
            {% endif %} <br>

            {{ field}} <br>
        {% endfor %}
    </form>

    <div id="lag-ny-bruker">
        <a href="{{ url_for('auth.newUser') }}">
            <button class="small-btn">Lag ny bruker</button>
        </a>
    </div>
</div>
{% endblock%}