<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='navbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='background.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='flash.css')}}">
    {% block css %}{% endblock%}
    <title>{% block title%}rawr{% endblock %}</title>
</head>
<body>
    <!--Navbar start-->
    <!--#region navbar-->
    <div class="navbar">
        <nav>
            <div class="wrapper">
              <div class=""><a href="/"><img src="{{url_for('static', filename='CarsSoftwareLogo.png')}}" alt="Logo" width="108px" style="padding-top: 20px;"></a></div>
              <input type="radio" name="slider" id="menu-btn">
              <input type="radio" name="slider" id="close-btn">
              <ul class="nav-links">
                <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
                <li><a href="/">Home</a></li>
                <li><a href="/biler">Søk etter Bil</a></li>
                <li><a href="/register-bil">Registrer Bil</a></li>
                <li><a href="/service-page">Service</a></li>
                <li><a href="{{url_for('auth.logout')}}">Log ut</a></li>
                

              </ul>
              <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
            </div>
          </nav>
    </div>

    <br><br><br>      
    <!--#endregion-->
    <!--Navbar end-->


<!-- In your HTML file -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash-container">
            {% for message in messages %}
                {% if 'success' in message %}
                    <p class="flash-message flash-success">{{ message }}</p>
                {% elif 'error' in message %}
                    <p class="flash-message flash-error">{{ message }}</p>
                {% elif 'warning' in message %}
                    <p class="flash-message flash-warning">{{ message }}</p>
                {% elif 'info' in message %}
                    <p class="flash-message flash-info">{{ message }}</p>
                {% else %}
                    <p class="flash-message">{{ message }}</p>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

    <div>
      {% block content %}{% endblock %}
    </div>
</body>
</html>