{% extends "base.html" %}
{% block title %} {{reg}} {% endblock %}

{% block content%}
    <H1>Søk etter biler</H1>
    <form action="" method="post">
        {% for field in form %}
        {% if field.widget.input_type != 'hidden' and field.type != 'SubmitField'%} 
            {{ field.label }} 
        {% endif %} <br>

        {{ field }} <br>
        {% endfor %}
    </form>
    <br><br>
    <h1>Resultat:</h1>
    <div>
        <span>Registrasjons Nummer: {{car.registration}}</span>
        <span>Merke: {{car.brand}}</span>
        <span>Model: {{car.model}}</span>
        <span>Tilgjenglig: {% if car.available == 1%} Ja {% else %} Nei {% endif %}</span>
        <span>Solgt: {% if car.sold == 1%} Ja {% else %} Nei {% endif %}</span>

        <a href="#">
            <button>Rediger Bil</button>
        </a>
        <a href="{{url_for('view.delBil', reg=car.registration)}}">
            <button>Slett Bil</button>
        </a>
    </div>
{% endblock%}