{% extends "base.html" %}
{% block title %} Biler {% endblock %}

{% block content %}

<H1>Søk etter biler</H1>
<form action="" method="post">
    {% for field in form %}
    {% if field.widget.input_type != 'hidden' and field.type != 'SubmitField'%} 
        {{ field.label }} 
    {% endif %} <br>

    {{ field }} <br>
    {% endfor %}
</form>
<br><br>
<h1>Alle biler</h1>
{% set Cars = Cars.query.all()%}
{% for car in Cars %}
    <div>
        <span>Registrasjons Nummer: {{car.registration}}</span>
        <span>Merke: {{car.brand}}</span>
        <span>Model: {{car.model}}</span>
        <span>Tilgjenglig: {% if car.available == 1%} Ja {% else %} Nei {% endif %}</span>
        <span>Solgt: {% if car.sold == 1%} Ja {% else %} Nei {% endif %}</span>

        <a href="{{url_for('view.editCar',reg=car.registration)}}">
            <button>Rediger Bil</button>
        </a>
        <a href="{{url_for('view.delBil', reg=car.registration)}}">
            <button>Slett Bil</button>
        </a>
    </div>
{% endfor %}
<br><br>
{% endblock %}